@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground: "#EEF0F2";
  --background: "#ECEBE4";
  --primary: "#1C1C1C";
  --secondary: "#DADDD8";
  --darker_secondary: "#b3b9af";
}

button.wallet-adapter-button-trigger {
  @apply bg-secondary text-primary text-xs sm:text-base font-BeVietnamPro;
}

button.wallet-adapter-button:not([disabled]):hover {
  @apply bg-darker_secondary;
}
